#content
{
	width: 925px;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	line-height: 17px;
	background:#ffffff;
	border:1px solid #ddd;
	height: 1000px;
	bottom: 5px;

}
div.header
{
	
	overflow: hidden;
	height: 150px;
	width: 100%;

	background-color: dodgerblue;
	text-align: center;
	
	color:white;
	font-size: 40px;
}
.subtitle
{
	font-size: 20px;
}
.user
{
	font-size: 35px;
	font-style: sans-serif;
	text-align: center;
	color: red;
}
#details
{
	position: absolute;
	top: 300px;
	left: 550px;
	text-align: left;
	line-height: 40px;
	font-style: sans-serif;
	font-size: 25px;

}