<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JspStart</display-name>
  
  <servlet>
  	<servlet-name>User1</servlet-name>
  	<jsp-file>/User.jsp</jsp-file>
  </servlet>
  
  
  
  <servlet>
  	<servlet-name>User2</servlet-name>
  	<jsp-file>/User2.jsp</jsp-file>
  </servlet>
  
  <servlet>
  	<servlet-name>Admin1</servlet-name>
  	<jsp-file>/Admin.jsp</jsp-file>
  </servlet>
  
  
  <servlet>
  	<servlet-name>Admin2</servlet-name>
  	<jsp-file>/Admin2.jsp</jsp-file>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Admin2</servlet-name>
  	<url-pattern>/Admin2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Admin1</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>User1</servlet-name>
  	<url-pattern>/User</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>User2</servlet-name>
  	<url-pattern>/User2</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
</web-app>